.date-information{
    margin-top: 10px;
    width: 85%;
    height: 100px;
    background-color: #262b40;
    margin-left: 5%;
    border-radius: 8px;
    position: relative;
    z-index: 2;
}
.date-information h1{
    display: inline-block;
    color: #fff;
    padding: 20px 5px 5px 5px;
}
.date-information p{
    color: #fff;
}
.date-information span{
    color: #cccccc;
}
.date-information-tag{
    text-orientation: upright;
    writing-mode: vertical-rl;
    color: #fff;
    background-color: orangered;
    width: 10%;
    height: 100%;
    position: absolute;
    left: 95%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}