@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* estilos generales y variables */
:root{
  --background-color: #0F1110;
  --primary-color: #39AB92;
  --text-color: #FFFFFF;
  --text-color-secondary: #cecccc;
  --icon-color: #797B7A;
  --box-background-color: #181A19;

}

.space{
  height: 24px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

main{
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
}