.input-text{
    padding: 8px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.2);
    border-bottom: 4px solid rgba(0,0,0,0.4);
    font-size: 1rem;
}
.input-text:focus,
.input-text:active{
    outline: none;
    border-color: rgba(0,0,0,0.6);
}