#root {
  font-family: "Quicksand", sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  width: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #292929;
  outline: none;
}
.App{
  overflow: hidden;
}
.title-app{
  margin: 5px 5%;
  color: #292929;
}
.color-orange{
  color: #ff4500;
}
.color-white{
  color: #fff;
}
.tag-orange{
  background-color: #ff4500;
  color: #FFF;
  padding: 5px;
  border-radius: 8px;
}
.page{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100% - 140px);
  overflow: hidden;
}

.grid-2cols{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.space{
  width: 100%;
  height: 10px;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
table{
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table th{
  text-align: left;
}