#root {
  font-family: "Quicksand", sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  width: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #292929;
}
.App{
  overflow: hidden;
}
.title-app{
  margin: 5px 5%;
  color: #292929;
}
.color-orange{
  color: #ff4500;
}
.tag-orange{
  background-color: #ff4500;
  color: #FFF;
  padding: 5px;
  border-radius: 8px;
}
.page{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100% - 140px);
  overflow: hidden;
}

.add-page{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.task-box-btn{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100px;
  gap: 5px;
  padding: 10px;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
table{
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table th{
  text-align: left;
}