#root {
  font-family: "Quicksand", sans-serif;
  background-color: #FFF3E0;
  min-height: 100vh;
  width: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #292929;
  ;
}
.App{
  overflow: hidden;
}
.title-app{
  margin: 5px 5%;
  color: #292929;
}
.color-orange{
  color: #ff4500;
}
.tag-orange{
  background-color: #ff4500;
  color: #FFF;
  padding: 5px;
  border-radius: 8px;
}
.page{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100% - 240px);
  overflow: hidden;
}